
doc/
README.md
.specstory/

__pycache__
*.pyc
*.pyo
*.pyd
.venv
.pytest_cache
.pdm-python

pdm.lock
pyproject.toml

.git
.gitignore
.dockerignore

.cursor/
.cursorrules
.cursorindexingignore

   